@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Imprima&family=Inconsolata:wght@300&display=swap");

body {
  background-color: #e4e6e6;
  color: #262221;
}

.nav-container {
  background-color: #c1b198;
}
.nav-link {
  text-decoration: none;
  color: #262221;
  font-size: 1.25rem;
  font-family: "Imprima", sans-serif;
}

.header-color {
  background-color: #262221;
  color: #e4e6e6;
  font-family: "Inconsolata", monospace;
}

.slide-container {
  background: linear-gradient(
    90deg,
    rgba(228, 230, 230, 1) 0%,
    rgba(217, 217, 217, 1) 51%
  );
}

.product-ad {
  font-family: "Inconsolata", monospace;
  font-weight: bolder;
}
