@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Imprima&family=Inconsolata:wght@300;500&display=swap");

body {
  background-color: #e4e6e6;
  color: #262221;
}
//header and nav
.nav-container {
  background-color: #c1b198;
}
.nav-link {
  text-decoration: none;
  color: #262221;
  font-size: 1.25rem;
  font-family: "Imprima", sans-serif;
}

.header-color {
  background-color: #262221;
  color: #e4e6e6;
  font-family: "Inconsolata", monospace;
}

.dropdown-btn {
  border: none;
  font-size: 1.25rem;
  font-family: "Imprima", sans-serif;
}

//sign out page
.signout {
  color: #262221;
  font-family: "Inconsolata", monospace;
}

//main ad
.slide-container {
  background: linear-gradient(
    90deg,
    rgba(228, 230, 230, 1) 0%,
    rgba(217, 217, 217, 1) 51%
  );
}

//products ad
.product-ad {
  font-family: "Inconsolata", monospace;
}

.product-link {
  text-decoration: none;
  background-color: #bed9e0;
  color: #484441;
}

.product-link:hover {
  color: #e4e6e6;
}

//footer
.footer-container {
  background-color: #484441;
  color: #e4e6e6;
  font-size: 16px;
}

.footer-link {
  color: #e4e6e6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.line {
  background: linear-gradient(
    90deg,
    rgba(228, 230, 230, 1) 0%,
    rgba(217, 217, 217, 1) 51%
  );
  height: 1px;
}

@include media-breakpoint-down(sm) {
  .products-ad {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .order-1 {
    order: 0 !important;
  }
  .px-5 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .w-50 {
    width: 100% !important;
  }
  .h-50 {
    height: 100% !important;
  }
  .nav-link {
    font-size: 15px;
  }
}

//information pages
.info-page h4 {
  font-family: "Inconsolata", monospace;

  color: #262221;
}

.info-page p {
  font-size: 20px;
  color: #262221;
}

.info-page h3 {
  font-family: "Inconsolata", monospace;
  color: #262221;
}
.info-page h5 {
  font-family: "Inconsolata", monospace;
  color: #262221;
  font-weight: bold;
}

.core p {
  font-size: 18px;
}
